In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("cleaned_anime_data.parquet")

In [3]:
df.head()

,anime_id,anime_url,title,synopsis,main_pic,type,source_type,num_episodes,status,start_date,...,score_08_count,score_07_count,score_06_count,score_05_count,score_04_count,score_03_count,score_02_count,score_01_count,clubs,pics
0,41392,https://myanimelist.net/anime/41392/Urasekai_P...,Urasekai Picnic,"The ""Otherworld"" is a vast and dangerous realm...",https://cdn.myanimelist.net/images/anime/1494/...,TV,Novel,12.0,Finished Airing,2021-01-04 00:00:00,...,4838,9071,7527,4185,1989,864,354,256,"['76804', '27057', '31353', '80141', '81186']",https://cdn.myanimelist.net/images/anime/1655/...
1,30524,https://myanimelist.net/anime/30524/Kagewani,Kagewani,A video blogger attempts to fake cryptid sight...,https://cdn.myanimelist.net/images/anime/9/760...,TV,Original,13.0,Finished Airing,2015-10-02 00:00:00,...,1831,3193,2780,1701,1007,478,384,256,"['14045', '6498', '78493', '39441', '65409', '...",https://cdn.myanimelist.net/images/anime/2/732...
2,10611,https://myanimelist.net/anime/10611/R-15,R-15,"R-15 is about a boy, Taketo Akutagawa, who att...",https://cdn.myanimelist.net/images/anime/9/330...,TV,Light novel,12.0,Finished Airing,2011-07-10 00:00:00,...,5500,9656,8182,5013,2576,1253,789,512,"['63421', '44237', '59057', '7538', '40745', '...",https://cdn.myanimelist.net/images/anime/10/29...
3,24,https://myanimelist.net/anime/24/School_Rumble,School Rumble,"Just the words ""I love you,"" and everything ch...",https://cdn.myanimelist.net/images/anime/4/754...,TV,Manga,26.0,Finished Airing,2004-10-05 00:00:00,...,40848,29928,12268,5919,2114,841,504,512,"['20081', '32683', '19736', '67029', '36987', ...",https://cdn.myanimelist.net/images/anime/9/204...
4,42203,https://myanimelist.net/anime/42203/Re_Zero_ka...,Re:Zero kara Hajimeru Isekai Seikatsu 2nd Seas...,"After a stern yet compelling speech by Otto, S...",https://cdn.myanimelist.net/images/anime/1724/...,TV,Light novel,12.0,Finished Airing,2021-01-06 00:00:00,...,100500,43713,14458,5598,2777,1239,669,1280,"['76804', '80863', '79626', '80141', '79209', ...",https://cdn.myanimelist.net/images/anime/1348/...

In [5]:
df.columns

Index(['anime_id', 'anime_url', 'title', 'synopsis', 'main_pic', 'type',
       'source_type', 'num_episodes', 'status', 'start_date', 'end_date',
       'season', 'studios', 'genres', 'score', 'score_count', 'score_rank',
       'popularity_rank', 'members_count', 'favorites_count', 'watching_count',
       'completed_count', 'on_hold_count', 'dropped_count',
       'plan_to_watch_count', 'total_count', 'score_10_count',
       'score_09_count', 'score_08_count', 'score_07_count', 'score_06_count',
       'score_05_count', 'score_04_count', 'score_03_count', 'score_02_count',
       'score_01_count', 'clubs', 'pics'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 38 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   anime_id             10714 non-null  int64
 1   anime_url            10714 non-null  object
 2   title                10714 non-null  object
 3   synopsis             10712 non-null  object
 4   main_pic             10714 non-null  object
 5   type                 10714 non-null  object
 6   source_type          10714 non-null  object
 7   num_episodes         10649 non-null  float64
 8   status               10714 non-null  object
 9   start_date           10714 non-null  object
 10  end_date             10621 non-null  object
 11  season               3706 non-null   object
 12  studios              9208 non-null   object
 13  genres               10714 non-null  object
 14  score                10714 non-null  float64
 15  score_count          10714 non-null  float64
 16  score_rank           9465 non-null   float64
 17  popularity_rank      10714 non-null  int64
 18  members_count        10714 non-null  int64
 19  favorites_count      10714 non-null  int64
 20  watching_count       10714 non-null  int64
 21  completed_count      10714 non-null  int64
 22  on_hold_count        10714 non-null  int64
 23  dropped_count        10714 non-null  int64
 24  plan_to_watch_count  10714 non-null  int64
 25  total_count          10714 non-null  int64
 26  score_10_count       10714 non-null  int64
 27  score_09_count       10714 non-null  int64
 28  score_08_count       10714 non-null  int64
 29  score_07_count       10714 non-null  int64
 30  score_06_count       10714 non-null  int64
 31  score_05_count       10714 non-null  int64
 32  score_04_count       10714 non-null  int64
 33  score_03_count       10714 non-null  int64
 34  score_02_count       10714 non-null  int64
 35  score_01_count       10714 non-null  int64
 36  clubs                9871 non-null   object
 37  pics                 10714 non-null  object
dtypes: float64(4), int64(20), object(14)
memory usage: 3.1+ MB

The following columns appear to have missing values because their non-null count < no. of rows:
1. synopsis
2. num_episodes
3. end_date
4. seasons
5. studios
6. score_rank
7. clubs

In [8]:
df = df.dropna(subset=["num_episodes"])

In [9]:
df.count()

anime_id               10649
anime_url              10649
title                  10649
synopsis               10647
main_pic               10649
type                   10649
source_type            10649
num_episodes           10649
status                 10649
start_date             10649
end_date               10621
season                  3685
studios                 9156
genres                 10649
score                  10649
score_count            10649
score_rank              9422
popularity_rank        10649
members_count          10649
favorites_count        10649
watching_count         10649
completed_count        10649
on_hold_count          10649
dropped_count          10649
plan_to_watch_count    10649
total_count            10649
score_10_count         10649
score_09_count         10649
score_08_count         10649
score_07_count         10649
score_06_count         10649
score_05_count         10649
score_04_count         10649
score_03_count         10649
score_02_count         10649
score_01_count         10649
clubs                   9831
pics                   10649
dtype: int64

In [10]:
df["num_episodes"].dtype

dtype('float64')

In [11]:
df["num_episodes"] = df["num_episodes"].astype(int)

C:\Users\chand\AppData\Local\Temp\ipykernel_31920\2427813097.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["num_episodes"] = df["num_episodes"].astype(int)

In [12]:
df.to_parquet("cleaned_anime_data.parquet", index=False)

In [3]:
df["num_episodes"].dtype

dtype('int64')

converted number of episodes into integers cz it should not be float now with the NaN gone.

In [14]:
df["start_date"].dtype
df["end_date"].dtype

dtype('O')

In [15]:
df["start_date"] = pd.to_datetime(df["start_date"], errors='coerce')
df["end_date"] = pd.to_datetime(df["end_date"], errors='coerce')

C:\Users\chand\AppData\Local\Temp\ipykernel_31920\2748176897.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["start_date"] = pd.to_datetime(df["start_date"], errors='coerce')
C:\Users\chand\AppData\Local\Temp\ipykernel_31920\2748176897.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["end_date"] = pd.to_datetime(df["end_date"], errors='coerce')

In [4]:
df["start_date"].dtype
df["end_date"].dtype

dtype('<M8[ns]')

In [17]:
df.to_parquet("cleaned_anime_data.parquet", index=False)

now, dates are converted to the right format.
Check for duplicates

In [20]:
import numpy as np
for col in df.columns:
    types = df[col].apply(type).unique()
    if any(t in [list, np.ndarray] for t in types):
        print(f"Column '{col}' has non-hashable values like list or ndarray: {types}")

Column 'genres' has non-hashable values like list or ndarray: [<class 'numpy.ndarray'>]

In [5]:
df_no_unhashables = df.drop(columns=["genres"])

In [6]:
print("Duplicate rows:", df_no_unhashables.duplicated().sum())

Duplicate rows: 0

In [7]:
# Summary of numerical columns
print(df.describe())

           anime_id  num_episodes                     start_date  \
count  10649.000000  10649.000000                          10649
mean   19246.055404     11.838201  2007-11-27 11:12:28.126584832
min        1.000000      1.000000            1917-02-20 00:00:00
25%     3653.000000      1.000000            2003-05-22 00:00:00
50%    15417.000000      3.000000            2011-10-07 00:00:00
75%    34639.000000     12.000000            2016-12-23 00:00:00
max    51296.000000   1818.000000            2022-03-17 00:00:00
std    15658.900505     36.511819                            NaN

                            end_date         score   score_count  \
count                          10621  10649.000000  1.064900e+04
mean   2008-03-20 00:59:39.323980800      6.560110  3.734583e+04
min              1917-02-20 00:00:00      1.850000  1.010000e+02
25%              2003-10-01 00:00:00      6.020000  8.410000e+02
50%              2012-02-11 00:00:00      6.650000  3.520000e+03
75%              2017-03-16 00:00:00      7.250000  2.014600e+04
max              2022-09-10 00:00:00      9.050000  2.380891e+06
std                              NaN      0.985731  1.228917e+05

         score_rank  popularity_rank  members_count  favorites_count  ...  \
count   9422.000000     10649.000000   1.064900e+04     10649.000000  ...
mean    5545.154956      6043.565687   7.160609e+04       836.382571  ...
min        1.000000         1.000000   2.060000e+02         0.000000  ...
25%     2479.500000      2734.000000   2.583000e+03         3.000000  ...
50%     5207.500000      5669.000000   9.148000e+03        16.000000  ...
75%     8395.500000      9026.000000   4.506200e+04       113.000000  ...
max    12406.000000     16422.000000   3.329298e+06    197551.000000  ...
std     3528.625068      3873.904926   2.019531e+05      5643.336692  ...

       score_10_count  score_09_count  score_08_count  score_07_count  \
count    10649.000000    10649.000000    10649.000000    10649.000000
mean      5253.313926     6738.069302     9454.778665     8166.369518
min          1.000000        0.000000        0.000000        1.000000
25%         47.000000       36.000000       81.000000      162.000000
50%        244.000000      238.000000      518.000000      866.000000
75%       1564.000000     1939.000000     4047.000000     5296.000000
max     875328.000000   699881.000000   613059.000000   387608.000000
std      27789.822323    30191.217397    33024.396318    23042.279702

       score_06_count  score_05_count  score_04_count  score_03_count  \
count    10649.000000    10649.000000    10649.000000    10649.000000
mean      3981.281717     1970.214011      884.137853      406.671143
min          5.000000        3.000000        1.000000        0.000000
25%        165.000000      128.000000       54.000000       27.000000
50%        647.000000      381.000000      152.000000       75.000000
75%       2968.000000     1534.000000      599.000000      266.000000
max     238248.000000   155460.000000   100101.000000    53437.000000
std      10347.865983     5164.124975     2790.270895     1396.987355

       score_02_count  score_01_count
count    10649.000000    10649.000000
mean       239.582026      251.416377
min          0.000000        0.000000
25%         16.000000       18.000000
50%         45.000000       46.000000
75%        149.000000      147.000000
max      30218.000000    43363.000000
std        904.960769     1129.967281

[8 rows x 26 columns]

In [8]:
# Look at a few object columns
print(df[['title', 'type', 'season', 'studios']].sample(5))

                                                  title     type     season  \
72                                       Toushi Gordian       TV  Fall 1979
6543                                Sentakuya Shin-chan      OVA       None
6793  Inyouchuu Shoku: Ryoushokutou Taimaroku - Kanz...      OVA       None
4203                                    Planet:Valkyrie      ONA       None
9411       Happyâ˜†Lesson: Hoka Hokaâ˜…Kanna to Futari Kiri  Special       None

                   studios
72    Tatsunoko Production
6543                 T-Rex
6793                  None
4203            P.A. Works
9411                  None

In [9]:
# Check for nulls in all columns
print(df.isnull().sum().sort_values(ascending=False).head(10))

season        6964
studios       1493
score_rank    1227
clubs          818
end_date        28
synopsis         2
type             0
main_pic         0
title            0
anime_url        0
dtype: int64

In [10]:
df['studios'] = df['studios'].fillna('Unknown')

In [11]:
df.to_parquet("cleaned_anime_data.parquet", index=False)

In [24]:
print(df.isnull().sum().sort_values(ascending=False).head(50))

season                 6964
score_rank             1227
clubs                   818
end_date                 28
synopsis                  2
anime_id                  0
type                      0
main_pic                  0
title                     0
anime_url                 0
start_date                0
status                    0
studios                   0
source_type               0
genres                    0
score                     0
score_count               0
popularity_rank           0
members_count             0
favorites_count           0
watching_count            0
num_episodes              0
completed_count           0
on_hold_count             0
plan_to_watch_count       0
dropped_count             0
score_10_count            0
score_09_count            0
score_08_count            0
total_count               0
score_07_count            0
score_06_count            0
score_04_count            0
score_05_count            0
score_03_count            0
score_02_count            0
score_01_count            0
pics                      0
dtype: int64

In [25]:
df['start_date'] = pd.to_datetime(df['start_date'])
df['end_date'] = pd.to_datetime(df['end_date'])

df['duration'] = (df['end_date'] - df['start_date']).dt.days

In [26]:
df['release_year'] = df['start_date'].dt.year

In [27]:
print(df[['release_year', 'duration']].head(10))  # shows first 10 rows

   release_year  duration
0          2021      77.0
1          2015      84.0
2          2011      77.0
3          2004     175.0
4          2021      77.0
5          2014     161.0
6          2013     127.0
7          1998     175.0
8          2011      63.0
9          1988     189.0

In [30]:
df.to_parquet("cleaned_anime_data.parquet", index=False)

In [31]:
df.to_csv("anime_data_feature_engineered.csv", index=False)

In [32]:
df.to_parquet("anime_data_feature_engineered.parquet", index=False)